.ubicacion-contenedor{
        padding: 0em;
  }


  .accesorio_descripcion , .accesorios_imagen , #map_canvas, .progresos,.glyphicon-question-sign, .modoResumido,.puntoMapa , .encabezados{
    display: none;
  }

h4{
	font-size: 15px;
}

h3{
font-size: 20px;
}
.contenido ,.ubicacion-contenedor, .verificacion, .accesorios{
padding-top: 0em;

}

.ubicacion_titulo{
  position: absolute;
  margin-bottom: 1em;
  font-size: 6px;
  top:7%;
  padding: 0px;
}

.verificacion, .accesorios{
  padding-top: 1em;
}

.contenido , .accesorios_items{
	padding: 0px;
  padding-bottom: 1em;
}

.control-label{
  margin-top: 0em;
}

.ubicacion-contenedor{
    
  }

  #form_ubicacion .control-label {
    display: none;
  }
  .mapa {
height: 30%;
}

#accesorios_tabla {
 padding: 0em 0em 0em 0em;
}

.mapa_info{
  display: none;
}

#filtroNombre{
  width: 90%;
}

.filtroNombre{
  padding: 1em;
}

.reporteVyV{
    padding-top: 1em;

}

.verificacion-contenedor{
  padding: 0; 
}

.accesorios_titulo{
  top:0px;
  padding: 0.2em;
}

.verificacion{
  padding-bottom: 1em;
}