<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Solicitud</title>

      <!--------------------- JAVASCRIPT -------------------->
       <script type="text/javascript"  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDwySW4YIvbeRHhfJVJQ1R0p4IPYqI6fC4&sensor=true">  </script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="jquery-ui/jquery-ui.js"></script>
      <link href="jquery-ui/jquery-ui.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="map.js"></script>
      <script type="text/javascript" src="solicitar.js"></script>
      <script type="text/javascript" src="solicitarAngular.js"></script>


      <!-------------- Fuentes ---------------------->
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,400' rel='stylesheet' type='text/css'>

      <!-------------- CSS ---------------------->
      <link href="bootstrap/css/jumbotron.css" rel="stylesheet">
      <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/estilos.css">
      <link rel="stylesheet" media="(max-width: 800px)" href="css/estilos-800.css">
      <link rel="stylesheet" href="css/animate.css">

    </head>
    <body onload="initialize()" ng-app="solicitarApp" ng-controller="solicitarCtrl" ng-init="username='ANONIMUS!!'">

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header" id="arriva">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Soluciones Golondrina</a>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li><a href="home.html">Inicio</a></li>
              <li class="active" class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Gestionar Casas Usuario<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ><a href="solicitar.html">Solicitar</a></li>
                  <li><a href="#">Estado Actual</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Informes</li>
                  <li><a href="#">Reparación</a></li>
                  <li><a href="#">Contacto</a></li>
                  <li><a href="#">Devoluciones</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Gestionar Casas Administrador<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Gestionar Casas</li>
                  <li><a href="nueva.html">Crear</a></li>
                  <li><a href="#/GCasas">Listado</a></li>
                  <li class="dropdown-header">Gestionar Partes</li>
                  <li><a href="#/GCasas">Crear</a></li>
                  <li><a href="#/GCasas">Listado</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Informes</li>
                  <li><a href="#">Solicitudes</a></li>
                  <li><a href="#">Devoluciones</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li><a href="index.html">Cerrar sesión</a></li>
            </ul>
          </div>
        </div>


        <!--------------------------------              Progresos                         --------------------------     -->

        <div class="progresos">
          <div class="progreso1 col-md-6" onclick="$('#l1').click()">
            <h4><center><strong><a id="l1" href="#ubicacion-contenedor">PASO 1 : Seleccionar ubicación</a> </strong></center></h4>
            <center><h4><div id="progreso1_estado"> <br></div></h4></center>
          </div>
          <div class="progreso2 col-md-3" onclick="$('#l2').click()">
            <h4><center><strong><a id="l2" href="#accesorios">PASO 2 : Selección de Accesorios</a> </strong></center></h4>
            <center><h4><div id="progreso2_estado"> <br></div></h4></center>
          </div>
          <div class="progreso3 col-md-3" onclick="$('#l3').click()">
            <h4><center><strong><a id="l3" href="#verificacion">PASO 3 : Verificación y validación</a> </strong></center></h4>
            <center><h4><div id="progreso3_estado"> <br></div></h4></center>
          </div>
        </div>
      </nav>   





      <!--------------------------------              Ubicacion                         --------------------------     -->

      <section class="contenido">

        <div  class="ubicacion-contenedor" id="ubicacion-contenedor">
         <div class="ubicacion_titulo"><h3>Ingrese el nombre de una ciudad cercana <span class="puntoMapa">o seleccione un punto en el mapa</span></h3>  
         </div>

         <div class="mapa col-md-6" ng-click="marcarMapa()">
          <span class="glyphicon glyphicon-question-sign mapa_info" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Permite seleccionar la posicion geografica donde se requierenlos hogares"></span>
          <div id="map_canvas" style="width:100%; height:100%"></div>
        </div>
        <div class="col-md-6 ubicacion-formulario">
          <form method="post" id="form_ubicacion">  
            <div class="form-group">
              <label for="ubicacio" class="col-sm-8 control-label">Escriba una localización
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Ubicacion aproximada donde se instalaran las casas"></span>
              </label>
              <div class="col-sm-9" form-inline>
                <input type="text" class="form-control" id="ubicacion" ng-model="model_ubicacion" placeholder="Santa fe, Argentina" >
              </div>
            </div>
            <div class="form-group">
              <label for="cantidad" class="col-sm-8 control-label">Cantidad             
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Cantidad de hogares requeridos para una posicion indicada.">
                </span>
              </label>
              <div class="col-sm-9">
                <input  type="number" class="form-control" id="cantidad" ng-model="model_cantidad" pattern="[0-9]*" placeholder="Cantidad" min="1" required>
              </div>
            </div>
            <div class="form-group">
              <label for="desde" class="col-sm-8 control-label">
                Desde             
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Fecha en la cual se requieren los hogares.">
                </span>
              </label>
              <div class="col-sm-9">
                <input  type="date" class="form-control" ng-model="model_desde" id="desde" required>
              </div>
            </div>
            <div class="form-group">
              <label for="hasta" class="col-sm-8 control-label">
                Hasta
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Fecha en que se liberaran los hogares.">
                </span>
              </label>
              <div class="col-sm-9">
                <input  type="date" class="form-control" id="hasta" ng-model="model_hasta" required>
              </div>
            </div>
            <div class="form-group">  
              <div class="col-sm-9  " style="text-align:center"> 
                <button id="buscar" ng-click="buscarCaminos()" type="submit" ng-disabled="completado1" class="btn btn-success">Completar</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!--------------------------------              Accesorios                         --------------------------     -->

      <div class="accesorios container" id="accesorios">
        <div id="accesorios_tabla"  class="col-md-8 col-md-offset-2" >
          <div class="accesorios_titulo">Accesorios/Partes</div>
          <div class="form-group form-inline filtroNombre">
            <center>          
              <label>
                &nbsp;Nombre: &nbsp;
              </label>
              <input type="text" class="form-control" id="filtroNombre" ng-model="filtroNombre" ng-init="filtroNombre=''" placeholder="Filtrar por nombre">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Permite filtrar los accesorios por nombre, para encontrarlos de manera mas veloz.">
              </span>  
              <label class="modoResumido">
               &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"  ng-model="resumirAccesorios">&nbsp; Modo resumido &nbsp;
               <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Desactiva la descripcion y las imagenes para acelerar el tramite.">
               </span>
             </label>
           </center>
         </div>
         <form id="form_accesorios" ng-submit="validarAccesorios()" >
          <div  class="accesorios_items"  ng-repeat="accesorio in accesorios| filter:{nombre:filtroNombre}" >
            <div class="row" >
              <div class="col-md-2"><img ng-src="img/{{accesorio.imagen}}" ng-hide="resumirAccesorios" class="img-thumbnail accesorios_imagen" height="110"> </div>
              <div class="col-md-10">
                <div class="col-md-9">
                  <div class="accesorio_titulo">{{ accesorio.nombre}}</div>
                  <div class="accesorio_descripcion" ng-hide="resumirAccesorios">
                    <strong>Descripción:</strong>
                    {{ accesorio.descripcion}}</div>
                  </div>
                  <div class="col-md-3 accesorio_cantidad">
                    <label for="hasta" class="col-xs-4 col-sm-8 control-label">Cantidad</label>
                    <div class="col-xs-8 col-sm-9">
                      <input ng-model="accesorio.cantidad" min="0" type="number" pattern="[0-9]*" class="form-control"   ng-disabled="completado" required>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            <div class="accesorios_botoner">
              <button type="submit"   class="btn btn-success" >Completar</button>
            </div>
          </form>
        </div>
      </div>


      <!--------------------------------              Verificación                         --------------------------     -->

      <div class="verificacion container" id="verificacion">
        <div class="verificacion-contenedor col-md-10 col-md-offset-1">
          <div class="accesorios_titulo">Verificación y validación</div>
          <div class="reporteVyV">
            <div class="col-md-3 col-sm-6 col-xs-12"><strong>Usuario:</strong>&nbsp; {{username}}</div>
            <div class="col-md-3 col-sm-6 col-xs-12"><strong>Cantidad:</strong>&nbsp; {{model_cantidad}}</div>
            <div class="col-md-6 col-sm-12 col-xs-12"><strong>Fecha de la solicitud: &nbsp;&nbsp;</strong>{{model_fechaActual| date:'mediumDate'}}</div>
            <div class="col-md-offset-6 col-md-3 col-sm-6 col-xs-12"><strong>Desde:</strong>&nbsp; {{model_desde | date:'mediumDate'}}</div>
            <div class="col-md-3 col-sm-6 col-xs-12"><strong>Hasta:</strong>&nbsp; {{model_hasta| date:'mediumDate'}}</div>
            <div class="col-md-6 col-sm-12 col-xs-12"><strong>Ubicacion:</strong>&nbsp; {{model_ubicacion}} &nbsp;&nbsp;<strong><a class="href-ruta" href="" onclick="$('#modal-ruta').modal('show')"><i>VER RUTA</i></a></strong></div>
            
            <div class="col-md-12 col-sm-12 col-xs-12"><strong><h4>ACCESORIOS</h4></strong></div>
            <div class="col-md-12 col-sm-12 col-xs-12 encabezados" style="border-bottom: none">
              <strong>
                <div class="col-md-6 col-sm-5 col-xs-12"><center>Nombre</center></div>
                <div class="col-md-3 col-sm-3 col-xs-12"><center>Cantidad</center></div>
                <div class="col-md-3 col-sm-4 col-xs-12"><center>Disponibilidad</center></div>
              </strong>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12"  style="border-bottom: none" ng-repeat="accesorio in accesoriosFiltrados"> 
             <div class="col-md-6 col-sm-5 col-xs-12">{{accesorio.nombre}}</div>
             <div class="col-md-3 col-sm-3 col-xs-12"><center>{{accesorio.cantidad}}</center></div>
             <div class="col-md-3 col-sm-4 col-xs-12"><center>DISPONIBLE</center></div>
           </div>
         </div>
        <button type="submit"   class="btn btn-success btn-confirmacion" ng-click="confirmar()">Completar</button>
       </div>
     </div>
   </section>



 </body>
 <div id="dialog" title="Datos incorrectos">
  <span class="ui-icon  ui-icon-closethick"></span>   
  <p>Debe seleccionar una posición en el mapa o escribir una ubicación.</p>
</div>

<div class="modal fade" id="modal-ruta">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ruta</h4>
      </div>
      <div class="modal-body" id="panel_ruta">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</html>

